# Ignore node_modules
node_modules/

# Ignore logs
logs/
*.logs

# Ignore enviroment varible files
.env
config.js

# Ignore build outputs
dist/
build/

# Ignoring the csvfiles by school request, cant be bothered anymore

# Ignore the database
database.db