body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.header {
    background-color: #02133D;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.header .user {
    display: flex;
    align-items: center;
}

.header .user img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
}

.container {
    display: flex;
    gap:50px;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1200px;
    width: 80%;
}

.box {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.history {
    background-color: #25CC7B;
    color: white;
}

.register {
    background-color: #29C4E3;
    color: white;
    justify-content: center;
}

.history h2, .register h2 {
    margin-top: 0;
}

.register select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.register input {
    width:90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

.register input[type="text"] {
    background-color: white;
    color: black;
}

.register button {
    display: block;
    margin: 20px auto;
    padding: 10px;
    border: none;
    background-color: #082156;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
}
