body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.header {
    background-color: #02133D;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.header .user {
    display: flex;
    align-items: center;
}

.header .user img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #f1f1f1;
}

.container {
    gap:50px;
    justify-content: space-around;
    margin: 50px auto;
    max-width: 1200px;
    width: 80%;
}

.box {
    width: 45%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    background-color: #25CC9F;
}

td, th {
    padding: 10px;
    border-bottom: 1px solid black;
    text-align: center;
}